.theme-dark {
  --main-background-color: #23252c;
  --background-color: #1a1b21;
  --background-secondary: #161619;
  --text-primary: #ffffff;
  --text-secondary: #cc978e;
  --border-shadow: #b46ac5;
}

.theme-light {
  --main-background-color: #b6b6b6;
  --background-color: #e6e4e4;
  --background-secondary: #c1bcbc;
  --text-primary: #000000;
  --text-secondary: #377771;
  --border-shadow: #808080;
  --icon-color: #353535;
}

* {
  background-color: var(--main-background-color);
  font-family: Inter;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  transition: all 0.3s linear;
}

.toggler {
  position: absolute;
  display: flex;
  right: 52vw;
  top: -1vw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 13px;
}

p {
  font-size: 10px;
  font-weight: 600;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #353535;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #939094;
}

input:focus + .slider {
  box-shadow: 0 0 1px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  background-color: var(--background-color);
  display: table;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 12px var(--border-shadow);
  position: relative;
}

.Info {
  text-align: center;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--background-color);
  width: 350px;
}

.Info > img {
  width: 350px;
  height: 350px;
  border-radius: 10px 10px 0px 0px;
}

.Info > h2 {
  font-size: 25px;
  background-color: var(--background-color);
}

.Info > h3 {
  font-size: 12px;
  color: var(--text-secondary);
  background-color: var(--background-color);
  margin-top: 5px;
}

.Info > h4 {
  font-size: 10px;
  background-color: var(--background-color);
  margin-top: 10px;
}

button {
  box-sizing: border-box;
  align-items: center;
  padding: 9px 13px 9px 11px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 115px;
  height: 34px;
  left: 151px;
  top: 468px;
  margin: 17px;
  cursor: pointer;
}

.email-btn {
  background-color: #ffffff;
  color: #374151;
}

.linkedin-btn {
  background-color: #5093e2;
  border: none;
}

.About,
.Interests {
  color: var(--text-primary);
  text-align: left;
  display: inline;
}

.About > h2,
.Interests > h2 {
  background-color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  margin: 35px;
  height: 0px;
  margin-top: 0px;
}

.About > h3,
.Interests > h3 {
  background-color: var(--background-color);
  font-size: 10px;
  line-height: 20px;
  font-weight: normal;
  margin: 35px;
  margin-bottom: 15px;
}

.Footer {
  background-color: var(--background-secondary);
  width: 350px;
  height: 64px;
  left: 116px;
  top: 760px;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
}

.icon {
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: var(--background-secondary);
  cursor: pointer;
  fill: #374151;
  color: #374151;
}
